.didi-authentication {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.didi-authentication__content {
  flex: 1;
  min-width: 11rem;
}

.didi-authentication__forms {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  max-width: 20rem;
}

.didi-authentication__forms > * + * {
  margin-top: 1rem;
}
